# Temporary files
*.P
*.o
*.*~
*.a
tmp/

# Html output of doxygen
doc/doxygen/vita.api

# Clone of Github's Vita Wiki
doc/wiki/

# Custom boost library (used for tests)
src/boost/

# Dummy directories for sr utility
src/examples/sr/dataset
src/examples/sr/stat
src/examples/sr/symbolset

# Executables
src/build/
src/examples/forex/forex_results/

# External tools
tools/cppcheck/
tools/*.pyc